streamlit
fastapi
uvicorn
requests
python-dotenv
python-multipart
qdrant-client
sentence-transformers
langchain
langchain-core
langchain-openai
langchain-huggingface
langchain-community
langchain-classic
langchain-text-splitters
openai
transformers
torch
accelerate
pymupdf
pydantic