fastapi==0.135.1
uvicorn==0.42.0
python-dotenv==1.2.2
python-multipart==0.0.22
qdrant-client==1.17.1
sentence-transformers==3.4.1
langchain==0.3.25
langchain-core==0.3.62
langchain-openai==0.3.16
langchain-community==0.3.24
langchain-classic==1.0.3
langchain-text-splitters==0.3.8
openai==1.82.0
pymupdf==1.25.5
pydantic==2.11.4
sqlalchemy==2.0.40
pyyaml==6.0.2
langsmith==0.3.45
requests==2.32.3
streamlit==1.45.0